<% include ../partials/header.ejs %>     
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading text-center">Lista de libros</h4>
    </div>
    <a href="/libros/crear" class="btn btn-primary mb-3" type="button">Crear nuevo libro</a>
    
    <table class="table table-light">
        <thead class="thead-dark">
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Imagen</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            
            <% for( var libro = 0; libro < libros.length; libro++ ) { %>

                <tr>
                    <td> <%=libros[libro].id %> </td>
                    <td> <%=libros[libro].nombre %> </td>
                    <td>
                        <img style="width: 80px;height: auto;" class="img-thumbnail" src="/images/<%=libros[libro].imagen %>" alt="">                          
                    </td>
                    <td>
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            
                            <!--Importante para editar cambiar método a get-->
                            <form class="form-inline" method="get" action="/libros/editar/<%=libros[libro].id %>">
                                <button class="btn btn-warning" type="submit">Editar</button>
                            </form>

                        </div>

                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            
                            <form class="form-inline" method="post" action="/libros/eliminar/<%=libros[libro].id %>">
                                <button class="btn btn-danger" type="submit">Borrar</button>
                            </form>

                        </div>
                    </td>
                </tr>
            
            <% } %>
            
        </tbody>
    </table>
<% include ../partials/header.ejs %>      
    